<html>
<head>
    <title>$resource.getString("web.sequence")
        $resource.getString("web.view")</title>
    #parse( $style )
</head>
<body>
$resource.getString("web.view"):
&nbsp;<a href="../table/index.html"><img border="0"
                                         src="${baseurl}tableButton.gif">$resource.getString("web.table")</a>
&nbsp;&nbsp;<a href="../full/index-${filter.getFullThreadIndex()}_shrink-${filter.getShrinkIdle()}.html"><img border="0"
                                                                                                              src="${baseurl}fullButton.gif">$resource.getString("web.threadDump")</a>
&nbsp;&nbsp;<img border="0" src="${baseurl}sequenceButton.gif">$resource.getString("web.sequence")<br>

<!--<br>#if($filter.getShrinkIdle())  ${resource.getMessage("web.snipEnabled")} - <a href="../sequence/threadId-${filter.getThreadId()}_shrink-false.html">$resource.getMessage("web.snipDisable")</a>
#else ${resource.getMessage("web.snipDisabled")} - <a href="../sequence/threadId-${filter.getThreadId()}_shrink-true.html">$resource.getMessage("web.snipEnable")</a>
#end
-->
<br>
## previous link
#set($previousTD = $stats.getPreviousThreadDumps($filter.getThreadId()))
#if($previousTD)
<a href="../sequence/threadId-${previousTD.getId()}_shrink-${filter.getShrinkIdle()}.html">$resource.getString("web.previous")</a>
#else $resource.getString("web.previous")
#end
## next link
#set($nextTD = $stats.getNextThreadDumps($filter.getThreadId()))
#if($nextTD)
<a href="../sequence/threadId-${nextTD.getId()}_shrink-${filter.getShrinkIdle()}.html">$resource.getString("web.next")</a>
#else $resource.getString("web.next")
#end

#set($sequence = $filter.doFilter($stats))
"$util.escape($sequence.getName())"<br><br>
#foreach($threadDump in $sequence.asArray())
#if($threadDump)
#if($threadDump.isIdle()) #set($stateClass = "idle")
#elseif($threadDump.isBlocked()) #set($stateClass = "stacked")
#else #set($stateClass = "normal")
#end
#else #set($stateClass = "notexist")
#end
#set($count = $velocityCount - 1)
<a name="$velocityCount" href="../full/index-${count}_shrink-${filter.getShrinkIdle()}.html#$filter.getThreadId()">Thread
    dump $velocityCount/$sequence.size()<br></a><font class="$stateClass">
    #if($threadDump)
    ##test if the StackTrace is same as before
    "$util.escape($threadDump.getName())"#if($threadDump.isDeadLocked()) <img border="0" src="${baseurl}deadlocked.gif">#end
    #if($sequence.sameAsBefore($velocityCount)) <img border="0" src="${baseurl}same-v.gif">#end
    $threadDump.getCondition()<br>
    #if($filter.getShrinkIdle() && $stateClass.equals("idle") && $threadDump.size() != 0)
    #foreach($line in $threadDump.getStackLines())
    #if($velocityCount < 4 || $threadDump.size() == 4)
    &nbsp;&nbsp;&nbsp;&nbsp;$util.asHTML($line,${count},${filter.getShrinkIdle()})<br>
    #else
    #if($velocityCount == 4)
    &nbsp;&nbsp;&nbsp;<a
        href="../sequence/threadId-${filter.getThreadId()}_shrink-false.html#$filter.getThreadId()"><img border="0"
                                                                                                         src="${baseurl}expandable_win.gif"></a>$util.asHTML($line)<br>
    #end
    #end
    #end
    #else
    #foreach($line in $threadDump.getStackLines())
    #if($stateClass.equals("idle") && $velocityCount == 4 && $threadDump.size() != 4)
    &nbsp;&nbsp;&nbsp;<a href="../sequence/threadId-${filter.getThreadId()}_shrink-true.html#$filter.getThreadId()"><img
        border="0" src="${baseurl}shrinkable_win.gif"></a>$util.asHTML($line,${count},${filter.getShrinkIdle()})<br>
    #else
    &nbsp;&nbsp;&nbsp;&nbsp;$util.asHTML($line,${count},${filter.getShrinkIdle()})<br>
    #end
    #end
    #end
    #else
    "$util.escape($sequence.getName())"
    $resource.getString("web.absent")<br>
    #end
</font><br>

#end
</body>
</html>
