<html>
<head>
    <title>$resource.getString("web.table") $resource.getString("web.view")</title>
    #parse( $style )
</head>
<body>
$resource.getString("web.view"):&nbsp;
<img border="0" src="${baseurl}tableButton.gif">$resource.getString("web.table")

&nbsp;&nbsp;<a href="../full/index-0_shrink-${filter.getShrinkIdle()}.html"><img border="0"
                                                                                 src="${baseurl}fullButton.gif">$resource.getString("web.threadDump")</a>
&nbsp;&nbsp;<a href="../sequence/threadId-${stats.getFirstThreadId()}_shrink-${filter.getShrinkIdle()}.html"><img
        border="0" src="${baseurl}sequenceButton.gif">$resource.getString("web.sequence")</a><br><br>

<table border="1">
    <tr>
        <td></td>
        #foreach( $fullThreadDump in $stats.getFullThreadDumps() )
        #set($i = $velocityCount - 1)
        <td align="center"><a href="../full/index-${i}_shrink-${filter.getShrinkIdle()}.html">${velocityCount}#if($fullThreadDump.isDeadLocked())<br><img
                border="0" src="${baseurl}deadlocked.gif">#end</a></td>
        #end
    </tr>
    #foreach( $stackTraces in $stats.getStackTracesAsArray() )
    <tr>
        <td nowrap align="right"><a
                href="../sequence/threadId-$stackTraces.getId()_shrink-${filter.getShrinkIdle()}.html">${stackTraces.toString()}</a>
        </td>
        ##evaluate the thread's status
        #foreach($threadDump in $stackTraces.asArray())
        #if($threadDump)
        #if($threadDump.isIdle()) #set($stateClass = "back-idle")
        #elseif($threadDump.isBlocked()) #set($stateClass = "back-stacked")
        #else #set($stateClass = "back-normal")
        #end
        #else #set($stateClass = "back-notexist")
        #end
        ##evaluate if the thread is same as before
        #if($stackTraces.sameAsBefore($velocityCount)) #set($sameFlag = "&lt;")
        #else #set($sameFlag = "&nbsp;")
        #end
        <td class="$stateClass">#if($threadDump.isDeadLocked()) <img border="0" src="${baseurl}deadlocked.gif"> #else
            $sameFlag #end
        </td>
        #end
    </tr>
    #end
</table>
<br><br>$resource.getString("web.legend"):
<table border="1">
    <tr>
        <td nowrap>$resource.getString("web.running")</td>
        <td class="back-normal">&nbsp;</td>
        <td nowrap>$resource.getString("web.blocked")</td>
        <td class="back-stacked">&nbsp;</td>
        <td nowrap>$resource.getString("web.idle")</td>
        <td class="back-idle">&nbsp;</td>
        <td nowrap title="hoge">$resource.getString("web.absent")</td>
        <td class="back-notexist">&nbsp;</td>
    </tr>
    <tr>
        <td nowrap colspan="3">$resource.getString("web.same")</td>
        <td class="back-normal">&lt;</td>
        <td nowrap colspan="3">$resource.getString("web.deadlocked")</td>
        <td class="back-stacked"><img border="0" src="${baseurl}deadlocked.gif"></td>
    </tr>
</body>
</html>
