<html>
<head>
    <title>$resource.getString("web.threadDump")
        $resource.getString("web.view")</title>
    #parse( $style )
</head>
<body>
$resource.getString("web.view"):&nbsp;
<a href="../table/index.html">
    <img border="0" src="${baseurl}tableButton.gif">$resource.getString("web.table")</a>

&nbsp;&nbsp;<img border="0" src="${baseurl}fullButton.gif">$resource.getString("web.threadDump")&nbsp;&nbsp;

<a href="../sequence/threadId-${stats.getFirstThreadId()}_shrink-${filter.getShrinkIdle()}.html">
    <img border="0" src="${baseurl}sequenceButton.gif">$resource.getString("web.sequence")</a><br>

<!--<br>#if($filter.getShrinkIdle()) ${resources.getMessage("web.snipEnabled")} - <a href="../full/index-${filter.getFullThreadIndex()}_shrink-false.html">$resources.getMessage("web.snipDisable")</a>
#else ${resources.getMessage("web.snipDisabled")} - <a href="../full/index-${filter.getFullThreadIndex()}_shrink-true.html">$resources.getMessage("web.snipEnable")</a>
#end
-->
<br>
## previous link
#if($filter.getFullThreadIndex() > 0) #set($num = $filter.getFullThreadIndex() - 1)
<a href="../full/index-${num}_shrink-${filter.getShrinkIdle()}.html">$resource.getString("web.previous")</a>
#else $resource.getString("web.previous")
#end

## next link
#if($filter.getFullThreadIndex() < ($stats.getFullThreadDumpCount() - 1))
#set($num = $filter.getFullThreadIndex() + 1)
<a href="../full/index-${num}_shrink-${filter.getShrinkIdle()}.html">$resource.getString("web.next")</a>
#else $resource.getString("web.next")
#end
#set($num = $filter.getFullThreadIndex() + 1)
$num/$stats.getFullThreadDumpCount()<br><br>

$stats.getFullThreadDump($filter.getFullThreadIndex()).getHeader()<br><br>

#foreach($threadDump in $filter.doFilter($stats).asArray())
#if($threadDump)
#if($threadDump.isIdle()) #set($stateClass = "idle")
#elseif($threadDump.isBlocked()) #set($stateClass = "stacked")
#else #set($stateClass = "normal")
#end
#else #set($stateClass = "notexist")
#end
<font class="$stateClass">
    "<a name="$threadDump.getId()"
        href="../sequence/threadId-$threadDump.getId()_shrink-${filter.getShrinkIdle()}.html#$velocityCount">$util.escape($threadDump.getName())</a>"#if($threadDump.isDeadLocked())
    <img border="0" src="${baseurl}deadlocked.gif">#end $threadDump.getCondition()<br>


    #if($filter.getShrinkIdle() && $stateClass.equals("idle") && $threadDump.size() != 0)
    #foreach($line in $threadDump.getStackLines())
    #if($velocityCount < 4 || $threadDump.size() == 4)
    &nbsp;&nbsp;&nbsp;&nbsp;$util.asHTML($line)<br>
    #else
    #if($velocityCount == 4)
    &nbsp;&nbsp;&nbsp;<a href="../full/index-${filter.getFullThreadIndex()}_shrink-false.html#$threadDump.getId()"><img
        border="0" src="${baseurl}expandable_win.gif"></a>$util.asHTML($line)<br>
    #end
    #end
    #end


    #else
    #foreach($line in $threadDump.getStackLines())
    #if($stateClass.equals("idle") && $velocityCount == 4 && $threadDump.size() != 4)
    &nbsp;&nbsp;&nbsp;<a href="../full/index-${filter.getFullThreadIndex()}_shrink-true.html#$threadDump.getId()"><img
        border="0" src="${baseurl}shrinkable_win.gif"></a>$util.asHTML($line)<br>
    #else
    &nbsp;&nbsp;&nbsp;&nbsp;$util.asHTML($line)<br>
    #end
    #end
    #end

</font><br>
#end
</body>
</html>
