<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${resource.getString('web.sequence') + resource.getString('web.view')}"></title>
    <meta charset="UTF-8">
    <base th:href="${baseurl}">
    <link rel="stylesheet" href="./css/style.css"/>
    <style>
        body {
            font-size: [[${fontSize}]]pt;
            font-family: [[${fontFamily}]];
        }
    </style>
</head>
<body>
<span th:text="${resource.getString('web.view')}"></span>:
<a href="./table/index.html"><img border="0" src="./images/tableButton.gif"><span
        th:text='${resource.getString("web.table")}'></span></a>
<a th:href="|./full/index-0_shrink-${filter.getShrinkIdle()}.html|"><img border="0" src="./images/fullButton.gif"><span
        th:text='${resource.getString("web.threadDump")}'></span></a>
<img border="0" src="./images/sequenceButton.gif"><span th:text='${resource.getString("web.sequence")}'></span><br><br>

<span th:switch="${null != stats.getPreviousThreadDumps(filter.getThreadId())}">
    <a th:case="${true}"
       th:href="|./sequence/threadId-${stats.getPreviousThreadDumps(filter.getThreadId()).getId()}_shrink-${filter.getShrinkIdle()}.html|">
        <span th:text="${resource.getString('web.previous')}"></span></a>
    <span th:case="${false}" th:text="${resource.getString('web.previous')}"></span>
</span>

<span th:switch="${null != stats.getNextThreadDumps(filter.getThreadId())}">
    <a th:case="${true}"
       th:href="|./sequence/threadId-${stats.getNextThreadDumps(filter.getThreadId()).getId()}_shrink-${filter.getShrinkIdle()}.html|">
        <span th:text="${resource.getString('web.next')}"></span></a>
    <span th:case="${false}" th:text="${resource.getString('web.next')}"></span>
</span>

<span th:with="sequence = ${filter.doFilter(stats)}">

    "<span th:text="${sequence.getName()}"></span>"<br><br>
    <div th:each="threadDump, threadDumpStat : ${sequence.asArray()}">
        <a th:name="${threadDumpStat.count}"
           th:href="${'./full/index-' + threadDumpStat.index + '_shrink-' + filter.getShrinkIdle() + '.html#' + filter.getThreadId()}">
            <span th:text="|Thread dump ${threadDumpStat.count}/${sequence.size()}|"></span><br>
        </a>
        <div th:class="${util.threadDumpToClass(threadDump)}">
             "<span th:text="${threadDump.getName()}"></span>"
            <img th:if="${threadDump.isDeadLocked()}" border="0" src="./images/deadlocked.gif">
            <img border="0" th:if="${sequence.sameAsBefore(threadDumpStat.count)}" src="./images/same-v.gif">           
            <span th:text="${threadDump.getCondition()}"> </span><br>
            <span th:switch="${null != threadDump}">
                <div th:case="${true}">
                    <div th:replace="common::stackTraces(index = ${threadDumpStat.count})"></div>
                </div>
                <div th:case="${false}">
                    <span th:text="${sequence.getName()}"> </span>
                    <span th:text="${resource.getString('web.absent')}"></span><br>
                </div>
            </span>
        </div>
    </div>
</span>
</body>
</html>
