<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${resource.getString('web.table') + resource.getString('web.view')}"></title>
    <meta charset="UTF-8">
    <base th:href="${baseurl}">
    <link rel="stylesheet" href="./css/style.css"/>
    <style>
        body {
            font-size: [[${fontSize}]] pt;
            font-family: [[${fontFamily}]];
        }
    </style>
</head>
<body>

<div class="container">
    <img border="0" src="./images/tableButton.gif"><span th:text='${resource.getString("web.table")}'></span>
    <a th:href="|./full/index-0_shrink-${filter.getShrinkIdle()}.html|"><img border="0"
                                                                             src="./images/fullButton.gif"><span
            th:text='${resource.getString("web.threadDump")}'></span></a>
    <a th:href="|./sequence/threadId-${stats.getFirstThreadId()}_shrink-${filter.getShrinkIdle()}.html|"><img
            border="0"
            src="./images/sequenceButton.gif"><span
            th:text='${resource.getString("web.sequence")}'></span></a><br><br>

    <div>
        <table>
            <tr>
                <td>
                    <div style="background-color: black">
                        <table border="0" cellpadding="2" cellspacing="1">
                            <tr>
                                <td style="text-align: right"><span
                                        th:text='${"&nbsp;" + resource.getString("web.running")}'></span>
                                </td>
                                <td><img border="0" src="./images/running.gif"></td>
                                <td style="text-align: right" colspan="3"><span
                                        th:text='${"&nbsp;" + resource.getString("web.same")}'></span></td>
                                <td><img border="0" src="./images/same-h.gif"></td>
                                <td style="text-align: right"><span
                                        th:text='${"&nbsp;" + resource.getString("web.blocking")}'></span>
                                </td>
                                <td><img border="0" src="./images/blocking.gif"></td>
                                <td style="text-align: right"><span
                                        th:text='${"&nbsp;" + resource.getString("web.idle")}'></span></td>
                                <td><img border="0" src="./images/idle.gif"></td>
                            </tr>
                            <tr>
                                <td style="text-align: right"><span
                                        th:text='${"&nbsp;" + resource.getString("web.blocked")}'></span></td>
                                <td><img border="0" src="./images/blocked.gif"></td>
                                <td style="text-align: right" colspan="3"><span
                                        th:text='${"&nbsp;"+ resource.getString("web.deadlocked")}'></span></td>
                                <td><img border="0" src="./images/deadlocked.gif"></td>
                                <td colspan="2"></td>
                                <td style="text-align: right"><span
                                        th:text='${"&nbsp;" + resource.getString("web.absent")}'></span>
                                </td>
                                <td class="table-cell-notexist">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <div style="background-color: black">
                        <table border="0" cellpadding="2" cellspacing="1">
                            <tr>
                                <td></td>
                                <td th:each="fullThreadDump, eachStat: ${stats.getFullThreadDumps}" align="center">
                                    <a th:href="|./full/index-${eachStat.index}_shrink-${filter.getShrinkIdle()}.html|"><span
                                            th:text="${eachStat.count}"><div
                                            th:if="${fullThreadDump.isDeadLocked()}"><br><img
                                            border="0" src="./images/deadlocked.gif"/></div></span></a>
                                </td>
                            </tr>
                            <tr th:each="stackTraces: ${stats.getStackTracesAsArray()}">
                                <td align="right"><a
                                        th:href="|./sequence/threadId-${stackTraces.getId()}_shrink-${filter.getShrinkIdle()}.html|"><span
                                        th:text="${stackTraces.toString()}"></span></a>
                                </td>
                                <td th:each="threadDump, threadDumpStat : ${stackTraces.asArray()}"
                                    th:class="${util.threadDumpToCpuUsageColor(threadDump, threadDumpStat.index, stackTraces)}">
                                    <a th:href="${'./sequence/threadId-'+stackTraces.getId()+'_shrink-'+filter.getShrinkIdle()+'.html#'+threadDumpStat.count}">
                                        <img width="16" height="16"
                                             border="0"
                                             th:src="${'./images/' + util.threadDumpToImageSrc(threadDump, threadDumpStat.count, stackTraces)}">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
