a.visited {
    color: blue;
}

body{
    padding: 10px;
    background: white;
}
table {
    margin:auto;
}
img{
    border-width: 0;
    border: #FF0000;
    border: none;
}
.container{
    text-align: center;
}

td, th {
    white-space: nowrap;
    text-wrap: none;
    background-color: #fff;
}

a {
    border-width: 0;
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.business-0{
    background-color: #fff;
}
.business-1{
    background-color: #dfd;
}
.business-2{
    background-color: #afa;
}
.business-3{
    background-color: #8f8;
}
.business-4{
    background-color: #0f0;
}
.business-5{
    background-color: #ff0;
}
.business-6{
    background-color: #fc0;
}
.business-7{
    background-color: #fa0;
}
.business-8{
    background-color: #f70;
}
.business-9{
    background-color: #f40;
}
.business-10{
    background-color: #f00;
}
.table-cell-notexist {
    background-color: #000;
    width: 16px;
}
