a.visited {
    color: blue;
}

body{
    padding: 10px;
}
table {
    margin:auto;
}
img{
    border-width: 0;
    border: #FF0000;
    border: none;
}
.container{
    text-align: center;
}

td, th {
    white-space: nowrap;
    text-wrap: none;
    background-color: #fff;
}

a {
    border-width: 0;
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.business-0{
    background-color: #ffffff;
}
.business-1{
    background-color: #e7e6e6;
}
.business-2{
    background-color: #b0b0b0;
}
.business-3{
    background-color: #84ff00;
}
.business-4{
    background-color: #84ff00;
}
.business-5{
    background-color: #ffcc00;
}
.business-6{
    background-color: #ffcc00;
}
.business-7{
    background-color: #ff9c07;
}
.business-8{
    background-color: #ff9c07;
}
.business-9{
    background-color: #ff0000;
}
.business-10{
    background-color: #ff0000;
}
.table-cell-notexistz {
    background-color: #000000;
    width: 16px;
}
